<div class="modal fade" id="modal-add-feed" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Start New Feed</h4>
			</div>
			<div class="modal-body">
				<textarea>

				</textarea>
				<img src="../assets/sky.jpg">
			</div>
			<div class="modal-footer">
				<div class="upload-image">
					<img src="../assets/camera-icon.png">
					<input type="file" class="file-input">
				</div>
				<button class="btn btn-primary"><b>Post</b></button>
			</div>
			<div class="login-error" ng-show="isError">
				<div class="alert alert-danger">Username or password is not valid</div>
			</div>
		</div>
	</div>
</div>