<form id="modal-login" name="formLogin">
	<div class="modal-header">
		<h4 class="modal-title">User Login</h4>
	</div>
	<div class="modal-body">
		<div><input type="text" name="username" placeholder="Username" ng-model="credentials.username" ng-keypress="($event.charCode==13)?login():return" ng-keyup="onKeyUpEvent()" required></div>
		<div><input type="password" name="password" placeholder="Password" ng-model="credentials.password" ng-keypress="($event.charCode==13)?login():return" ng-keyup="onKeyUpEvent()" required/></div>
	</div>
	<div class="modal-footer">
		<button ng-click="login()" ng-disabled="formLogin.$invalid" class="btn btn-primary">Login</button>
		<button ng-click="cancel()" class="btn btn-default">Close</button><br>
		<h5 class="alert alert-danger" ng-show="isError">{{errorMessage}}</h5>
	</div>
</form>