<form id="modal-register" name="formRegister">
	<div class="modal-header">
		<h4 class="modal-title">User Register</h4>
	</div>
	<div class="modal-body">
		<div><input type="text" placeholder="User Name" ng-model="registerInfo.userName" ng-keyup="onKeyUpEvent()" required></div>
		<div><input type="email" placeholder="Email" ng-model="registerInfo.email" ng-keyup="onKeyUpEvent()" required></div>
		<div><input type="password" placeholder="Password" ng-model="registerInfo.password" ng-keyup="onKeyUpEvent()" required></div>
		<div><input type="password" placeholder="Confirm password" ng-model="registerInfo.confirmPassword" ng-keyup="onKeyUpEvent()" required></div>
	</div>
	<div class="modal-footer">
		<button ng-click="register()" ng-disabled="formRegister.$invalid" class="btn btn-primary">Register</button>
		<button ng-click="cancel()" class="btn btn-default">Close</button><br>
		<h5 class="alert alert-danger" ng-show="isError">{{errorMessage}}</h5>
	</div>
</form>