app:
  name: cafedev

server:
    port: 8080

jwt:
  header: Authorization
  expires_in: 3600
  mobile_expires_in: 600 # 10 minutes
  secret: queenvictoria
  
spring:
  jpa:
    hibernate:
      # possible values: validate | update | create | create-drop
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost/cafedev
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    
  batch:
    job:
      enabled: false
  
  session:
    store-type: none