<div class="about">
	<div class="row">
		<div class="col-md-5 left">
			<img alt="" src="assets/son-tung.jpg">
			<div class="contact-title">CONTACT</div>
			<hr>
			<h5>
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-phone-square" aria-hidden="true"></i>
					</div>
					<div class="col-md-10">
						(+84) 984 292 847
					</div>
				</div>
			</h5>
			<h5>
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<div class="col-md-10">
						nguyencaominhnhut@gmail.com
					</div>
				</div>
			</h5>
			<h5>
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</div>
					<div class="col-md-10">
						<a href="https://www.facebook.com/vitechhoclaptrinh">Facebook</a>
					</div>
				</div>
			</h5>
			<h5>
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-skype" aria-hidden="true"></i>
					</div>
					<div class="col-md-10">
						cao.minh.nhut
					</div>
				</div>
			</h5>
			<br>
			<div class="about-title">WE'RE ADVISOR ABOUT</div>
			<hr>
			<div class="advisor-item">
				<ul>
					<li><b><i>EDUCATION</i></b></li>
					<li><b><i>BANKING</i></b></li>
					<li><b><i>FINANCE</i></b></li>
					<li><b><i>INSURANCE</i></b></li>
					<li><b><i>MEDICAL</i></b></li>
					<li><b><i>HUMAN RESOURCE</i></b></li>
					<li><b><i>LOGISTIC</i></b></li>
					<li><b><i>DELIVERY</i></b></li>
					<li><b><i>PAYMENT ONLINE</i></b></li>
				</ul>
			</div>
		</div>
		<div class="col-md-7 right">
			<H1>NHUT NGUYEN</H1>
			<h3>Hi, Nice to meet you</h3>
			<br><br><br><br><br>
			<div class="header">ABOUT US</div>
			<p>	
				<br>
				Chào mừng các bạn đã đến với <b>Cafedev</b>. <br><br>
				Sau nhiều năm ấp ủ và thử nghiệm, mình đã thành lập trang web này với mong muốn là chia sẻ kiến thức về lập trình, chia sẻ những vấn đề<br>
				liên quan đến ngành khoa học máy tính và thị trường IT.<br><br>
				Hy vọng cộng đồng lập trình sẻ cùng nhau chia sẻ tất tần tật mọi thứ liên quan đến ngành như: kỷ thuật lập trình, ngôn ngữ mới,
				framework mới, thông tin tuyển dụng, môi trường làm việc...<br><br>
				Để anh em có cái nhìn lạc quang nhất cũng như có thể tìm được công ty có môi trường làm việc tốt hoặc một định hướng cho start-up.
			</p>
			<div class="header">WORK EXPERIENCES</div>
			<p>
				<br>
				Chúng tôi cung cấp giải pháp kỷ thuật số cho nhiều công ty cũng như những tập đoàn đang hoạt động trong lĩnh vực <b>Ngân Hàng, Tài Chính, Bảo Hiểm</b>.<br><br>
				Ngoài ra trong lĩnh vực về giáo dục và đào tạo chúng tôi cũng cung cấp hệ thống phần mềm quản lý qui trình đào tạo cho nhiều trường 
				<b>cao đẳng, đại học, và trung học phổ thông</b>.<br><br>
				Chúng tôi cũng hợp tác với nhiều bệnh viện lớn trong nước để cung cấp các giải pháp quản lý bệnh nhân và toàn bộ quá trình hoạt động của <b>bệnh viện</b>.
				dựa trên hệ thống <b>HealthCare</b> do chúng tôi phát triển.<br><br>
				Bên cạnh đó, chúng tôi cũng được các công ty trong ngành <b>vận chuyển, hậu cần và nhân sự</b> tin tưởng hợp tác để phát triển, nâng cấp và bảo trì 
				hệ thống phần mềm của họ.
			</p>
		</div>
	</div>
</div>