<div class="assignment">
	<h4><b>Time: </b><i>90</i></h4>
	<h4><i><b>Examination 01</b></i></h4>
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
		100% Complete (success)
		</div>
	</div>
	<p>
		Viết chương trình giải phương trình bậc 2: ax2 + bx + c = 0.<br>
		Viết chương trình tính giai thừa của n.<br>
		Viết chương trình chuyển đổi một số tự nhiên ở hệ số 10 thành một số ở hệ cơ số B (1 <= B <= 32) bất kỳ.<br>
		Dãy số Fibonacci được định nghĩa như sau: F0 = 0, F1 = 1, F2 = 1, Fn = F(n-1) + F(n-2) với n >= 2. Ví dụ: 0, 1, 1, 2, 3, 5, 8, … Hãy viết chương trình tìm số Fibonacci thứ n.<br>
		Viết chương trình tìm ước số chung lớn nhất (UCLN) và bội số chung nhỏ nhất (BCNN) của hai số a và b.<br>
		Viết chương trình liệt kê tất cả các số nguyên tố nhỏ hơn n.<br>
		Viết chương trình liệt kê n số nguyên tố đầu tiên.<br>
		Viết chương trình liệt kê tất cả các số nguyên tố có 5 chữ số.<br>
		Viết chương trình phân tích số nguyên n thành các thừa số nguyên tố. Ví dụ: 12 = 2 x 2 x 3.<br>
		Viết chương trình tính tổng các chữ số của một số nguyên n. Ví dụ: 1234 = 1 + 2 + 3 + 4 = 10.<br>
		Một số được gọi là số thuận nghịch nếu ta đọc từ trái sang phải hay từ phải sang trái số đó ta vẫn nhận được một số giống nhau. Ví dụ 123321 là một số thuận nghịch. Hãy liệt kê tất cả các số thuận nghịch có 6 chữa số.<br>
		Nhập số tự nhiên n. Hãy liệt kê các số Fibonacci nhỏ hơn n là số nguyên tố.<br>
		Viết chương trình nhập số nguyên dương n và thực hiện các chức năng sau: <br>
		a) Tính tổng các chữ số của n. <br>
		b) Phân tích n thành tích các thừa số nguyên tố.<br> 
		c) Liệt kê các ước số của n. <br>
		d) Liệt kê các ước số là nguyên tố của n.<br>
		Viết chương trình liệt kệ các số nguyên có từ 5 đến 7 chữ số thảo mãn:<br> 
		a) Là số nguyên tố. <br>
		b) Là số thuận nghịch. <br>
		c) Mỗi chữ số đều là số nguyên tố.<br> 
		d) Tổng các chữ số là số nguyên tố.<br>
		Viết chương trình liệt kệ các số nguyên có 7 chữ số thảo mãn:<br> 
		a) Là số nguyên tố. <br>
		b) Là số thuận nghịch. <br>
		c) Mỗi chữ số đều là số nguyên tố.<br> 
		d) Tổng các chữ số là số thuận nghịch.<br>
	</p>
	<input type="file">
</div>