<div class="forum">
	<ul>
		<li ng-repeat="topic in topics">
			<h4><a href="#/topic/{{topic.id}}">{{topic.topicName}}</a></h4>
			<ul>
				<li class="row sub-topic" ng-repeat="article in topic.articles">
					<div class="col-md-1 icon"></div>
					<div class="col-md-5">
						<div class="title"><b><a>{{article.name}}</a></b></div>
						<div><a>{{article.description}}</a></div>
					</div>
					<div class="col-md-2">
						3 Posts
					</div>
					<div class="col-md-4">
						<div class="title">Last post by <b>Nhut Nguyen</b></div>
						<div>{{article.createDate}}</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>