<div class="home-page">
	<div class="feeds">
		<ul>
			<!-- LIST OF FEEDS -->
			<!-- FEED 1ST -->
			<li ng-repeat="feed in feeds" class="li-feed">
				<div class="feed">
					<!-- ARTICLE -->
					<div class="user-info">
						<span><img src="assets/man.png"></span>
						<b><a href="">Đánh Giá Xe</a></b>
						<span class="glyphicon glyphicon-option-horizontal edit"></span>
					</div>
					<p>{{feed.description}}</p>
					<img class="feed-image" ng-src="assets/{{feed.filePath}}">
					<!-- END ARTICLE -->
					<!-- COMMENTS -->
					<div class="comments">
						<ul>
							<li ng-repeat="comment in feed.comments">
								<!-- COMMENT -->
								<div class="row">
									<div class="col-md-1">
										<img class="avatar" src="assets/man.png">
									</div>
									<div class="col-md-11 comment">
										<b><a href="">Cao Minh Nhut</a></b>&nbsp;
										{{comment.content}}
									</div>									
								</div>
								<span class="reply" ng-click="showReplyField(comment.id)">Reply</span>
								<!-- END COMMENT -->
								<!-- REPLY -->
								<div class="reply-input" ng-show="isShowReplyField==comment.id">
									<textarea></textarea>
								</div>
								<!-- END REPLY -->
								<!-- SUB COMMENTS -->
								<ul class="sub-comment">
									<li>
										<div class="row">
											<div class="col-md-1">
												<img class="avatar" src="assets/man.png">
											</div>
											<div class="col-md-11 comment">
												<b><a href="">Vi Huynh</a></b>&nbsp;
												Làm một chiếc đi Cao Minh Nhut
											</div>
										</div>	
									</li>
									<li>
										<div class="row">
											<div class="col-md-1">
												<img class="avatar" src="assets/man.png">
											</div>
											<div class="col-md-11 comment">
												<b><a href="">Duong Ngoc Thai</a></b>&nbsp;
												Bên cạnh đó, BMW còn cắt giảm trọng lượng X4 2019 lên đến 50kg so với thế hệ trước. Cuối cùng, tổng thể xe thêm đẹp mắt hơn với lựa chọn mâm đa chấu có kích thước từ 19 đến 21 inch. Ở những phiên bản thể thao M Performance, xe sẽ được trang bị kẹp phanh màu xanh M-Sport, hệ thống treo thể thao M-Suspension, ống xả M Sport...
											</div>
										</div>
									</li>
								</ul>
								<!-- END SUB COMMENTS -->
								<!-- ANSWER -->
							<li>
								<span><img class="avatar-post" src="assets/man.png"></span>
								<textarea></textarea>
							</li>
						<!-- END ANSWER -->
							</li>
						</ul>
					</div>
					<!-- END COMMENTS -->
				</div>
			</li>
			<!-- END FEED 1ST -->
			<!-- FEED 2SD.. -->
			<!-- <li>
				<div class="feed"></div>
			</li> -->
			<!-- END FEED 2SD -->
		</ul>
	</div>
</div>