<div class="home-page">
	<div class="feeds">
		<ul>
			<!-- LIST OF FEEDS -->
			<!-- FEED 1ST -->
			<li ng-repeat="feed in feeds" class="li-feed">
				<div class="feed">
					<!-- ARTICLE -->
					<div class="user-info">
						<span><img ng-src="{{feed.user.avatar}}"></span>
						<b><a href="">{{feed.user.firstName +" "+feed.user.lastName}}</a></b>
						<span class="glyphicon glyphicon-option-horizontal edit"></span>
					</div>
					<p>{{feed.description}}</p>
					<img class="feed-image" ng-src="assets/{{feed.filePath}}">
					<!-- <img class="feed-image" ng-src="http://localhost:8080/rest/no-auth/feed/download?fileName=cat-21557930706814.jpeg"> -->
					<!-- END ARTICLE -->
					<!-- COMMENTS -->
					<div class="comments">
						<ul>
							<li ng-repeat="comment in feed.comments">
								<!-- COMMENT -->
								<div class="row">
									<div class="col-md-1">
										<img class="avatar" ng-src="{{comment.user.avatar}}">
									</div>
									<div class="col-md-11 comment">
										<b><a href="">{{comment.user.firstName+" "+comment.user.lastName}}</a></b>&nbsp;
										{{comment.content}}
									</div>									
								</div>
								<span class="reply" ng-click="showReplyField(comment.id)">Reply</span>
								<!-- END COMMENT -->
								<!-- REPLY -->
								<div class="reply-input" ng-show="isShowReplyField==comment.id">
									<textarea></textarea>
								</div>
								<div class="remove-space" ng-hide="isShowReplyField==comment.id"></div>
								<!-- END REPLY -->
								<!-- SUB COMMENTS -->
								<ul class="sub-comment">
									<li ng-repeat="subcomment in comment.subComments">
										<div class="row">
											<div class="col-md-1">
												<img class="avatar" ng-src="{{subcomment.user.avatar}}">
											</div>
											<div class="col-md-11 comment">
												<b><a href="">{{subcomment.firstName+" "+subcomment.lastName}}</a></b>&nbsp;
												{{subcomment.content}}
											</div>
										</div>	
									</li>
								</ul>
								<!-- END SUB COMMENTS -->
								<!-- ANSWER -->
							<li>
								<span><img class="avatar-post" src="assets/man.png"></span>
								<textarea ng-keyup="autoGrow($event)"></textarea>
							</li>
						<!-- END ANSWER -->
							</li>
						</ul>
					</div>
					<!-- END COMMENTS -->
				</div>
			</li>
			<!-- END FEED 1ST -->
			<!-- FEED 2SD.. -->
			<!-- <li>
				<div class="feed"></div>
			</li> -->
			<!-- END FEED 2SD -->
		</ul>
	</div>
</div>