<div ng-controller="NotifyCtrl" class="notify">
    <div class="title">
        <img src="assets/bell-icon.png">
        <h3>Alerts</h3>
    </div>
    <div ng-repeat="notify in notifies" class="notifies">
        <ul>
            <li>
                <img ng-if="notify.type == 'MESSAGE'" ng-src="assets/comments-icon.png">
                <img ng-if="notify.type == 'TAGED'" ng-src="assets/tags-icon.png">
                <div>
                    <p>{{notify.content}}</p>
                    <h5>{{notify.senderName}}</h5>
                    <i>{{notify.create_date}}</i>
                </div>
            </li>
        </ul>
        <ul>
        <div class="wrapper">
                <button class="button" ng-click="showMore()">Show More</button>
        </div>
        </ul>
    </div>
</div>
    
