<div class="programmes">
	<div class="people">
		<h3>Chúng tôi có thể giúp bạn trở thành một lập trình viên chuyên nghiệp.</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="des">
					<h3>Sinh Vien</h3>
					<p>
						Muốn tìm hiểu sâu về ngôn ngữ lập trình C/C++ và C# để tìm việc làm thêm hay tăng cơ hội nghề nghiệp sau khi ra trường?
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="des">
					<h3>Nguoi Di Lam</h3>
					<p>
						Muốn tiếp cận với một ngôn ngữ lập trình mới để nâng cao khả năng của mình, mở rộng cơ hội thăng tiến và thu nhập?
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="des">
					<h3>Lap Trinh Vien</h3>
					<p>
						Muốn tiếp cận với một ngôn ngữ lập trình mới để nâng cao khả năng của mình, mở rộng cơ hội thăng tiến và thu nhập?
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="des">
					<h3>Bất cứ ai</h3>
					<p>
						Yêu thích và có đam mê phát triển sự nghiệp trong lĩnh vực lập trình, đã biết một ít hoặc chưa hề biết gì về lập trình?
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="reason">
		<div class="advantage">
			<ul>
				<li>
					<div class="row">
						<div class="col-md-1 round">1</div>
						<div class="col-md-11">
							<h4>Cơ hội việc làm</h4>
							<p>
								Lập trình viên ngôn ngữ C/C++/C# thuộc top 5 ngành nghề CNTT có nhu cầu tuyển dụng cao nhất năm 2015, với hơn 200.000 kết quả
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-1 round">2</div>
						<div class="col-md-11">
							<h4>Cơ hội việc làm</h4>
							<p>
								Lập trình viên ngôn ngữ C/C++/C# thuộc top 5 ngành nghề CNTT có nhu cầu tuyển dụng cao nhất năm 2015, với hơn 200.000 kết quả
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-1 round">3</div>
						<div class="col-md-11">
							<h4>Cơ hội việc làm</h4>
							<p>
								Lập trình viên ngôn ngữ C/C++/C# thuộc top 5 ngành nghề CNTT có nhu cầu tuyển dụng cao nhất năm 2015, với hơn 200.000 kết quả
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-1 round">4</div>
						<div class="col-md-11">
							<h4>Cơ hội việc làm</h4>
							<p>
								Lập trình viên ngôn ngữ C/C++/C# thuộc top 5 ngành nghề CNTT có nhu cầu tuyển dụng cao nhất năm 2015, với hơn 200.000 kết quả
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-1 round">5</div>
						<div class="col-md-11">
							<h4>Cơ hội việc làm</h4>
							<p>
								Lập trình viên ngôn ngữ C/C++/C# thuộc top 5 ngành nghề CNTT có nhu cầu tuyển dụng cao nhất năm 2015, với hơn 200.000 kết quả
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="process">
		<h3>FullStack,</h3>
		<hr>
		<p>Một ngành cực hot hiện nay khi mà bạn có thể làm được cả công việc của FrontEnd lẫn BackEnd, hay khác hơn là một mình viết được mọi ứng dụng kể cả mobile app</p>
		<h3>Cơ hội nghề nghiệp</h3>
		<ol>
			<li>Tự tin ứng tuyển tại các công ty công nghệ nước ngoài tại Vietnam.</li>
			<li>Một nghề có mức tăng trưởng trên 20% từ đây cho đến 2022.</li>
			<li>Xây dựng được hầu hết các hệ thống phức tạp.</li>
			<li>Thế mạnh trong việc khởi tạo cấu trúc hệ thống cho doanh nghiệp.</li>
		</ol>
		<hr>
		<h3>Nội dung khóa học</h3>
		<ol>
			<li>Hướng dẫn chuyên sâu về cutting HTML (sử dụng SASS, PUG, JSX, Gulp, Webpack…)</li>
			<li>Ứng dụng Git, Slack… để làm việc thực tế</li>
			<li>Chuyên sâu về NodeJS để viết ứng dụng trên mọi nền tảng</li>
			<li>Vận hành các hệ thống CSDL MongoDB, PHPmyAdmin… một cách nhuần nhuyễn</li>
			<li>Làm chủ jQuery, IONIC, Angular, React… để viết web và mobile app</li>
			<li>Tư duy trong lập trình và được làm việc trên phương pháp Pair programming một phương pháp dev cực kỳ hiệu quả trên thế giới</li>
			<li>Cuối cùng là build hệ thống RESful-APIs và Websocket để xử lý mọi vấn đề về dữ liệu, authentication và realtime cho ứng dụng.</li>
		</ol>
		<hr>
		<h3>Thời lượng học</h3>
		<p>6h ~ 2h/buổi – Tuần 3 buổi</p>
		<hr>
		<h3>Học phí</h3>
		<p>2.000.000đ/khóa 3 tháng</p>
		
	</div>
</div>