<div class="sub-topic">
	<h4>Java Basic</h4>
	<div class="content">
		This tutorial would help you learn Java like a pro.<br> I have
		shared 500+ tutorials on various topics of Java including tutorials on
		core java and advanced<br> Java concepts and Java programming
		examples.<br>
		<br> This core Java Tutorial contains the links of all the
		tutorials in a systematic order starting from beginner’s level to the
		advanced topics.<br> Whether you are a college student looking
		for learn Java programming or a company employee learning advanced <br>
		Java topics for building an application in Java, this Java tutorial
		would definitely be useful for you. Let’s start learning.<br>
		<br> Java Tutorial<br> To learn Java programming, refer
		these tutorials in the given order.<br> These tutorials are
		written for beginners so even if you have no prior knowledge in Java,
		you won’t face any difficulty understanding<br> these
		tutorials(this page includes core Java tutorial and advanced Java
		tutorial).<br>
		<br> <img alt=""
			src="https://www.javatpoint.com/images/simpleprogram.jpg"><br>
		<br> Tutorials on Java basics<br> Start from here. An
		introduction to java and java basics with examples.<br> 1.
		Introduction to Java<br> 2. Java Virtual Machine(JVM) Basics<br>
		3. First Java Program<br> 4. Variables in Java<br> 5. Java
		Data Types<br> 6. Java Operators<br> 7. If-else in Java<br>
		8. Switch-Case in Java<br> 9. Java For loop<br> 10. Java
		While loop<br> 11. do-while loop in Java<br> 12. Java
		Continue statement<br> 13. Java Break statement<br>
	</div>
	<div class="comments">
		<ul>
			<!-- ANSWER -->
			<li><span><img class="avatar-post" src="assets/man.png"></span>
				<textarea></textarea>
				<button class="btn btn-primary">Post</button></li>
			<!-- END ANSWER -->
			<li>
				<!-- COMMENT -->
				<div class="row">
					<div class="col-md-1">
						<img class="avatar" src="assets/man.png">
					</div>
					<div class="col-md-11 comment">
						<b><a href="">Cao Minh Nhut</a></b>&nbsp; Xe đẹp quá, cơ mà hình
						như cũng không có lốp dự phòng như GLC
					</div>
				</div> <!-- END COMMENT --> <!-- REPLY --> <span
				class="glyphicon glyphicon-share-alt show-reply"></span>
				<div class="reply-input">
					<textarea></textarea>
					<span class="reply-btn">Reply</span>
				</div> <!-- END REPLY --> <!-- SUB COMMENTS -->
				<ul class="sub-comment">
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Vi Huynh</a></b>&nbsp; Làm một chiếc đi Cao Minh
								Nhut
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Duong Ngoc Thai</a></b>&nbsp; Bên cạnh đó, BMW còn
								cắt giảm trọng lượng X4 2019 lên đến 50kg so với thế hệ trước.
								Cuối cùng, tổng thể xe thêm đẹp mắt hơn với lựa chọn mâm đa chấu
								có kích thước từ 19 đến 21 inch. Ở những phiên bản thể thao M
								Performance, xe sẽ được trang bị kẹp phanh màu xanh M-Sport, hệ
								thống treo thể thao M-Suspension, ống xả M Sport...
							</div>
						</div>
					</li>
				</ul> <!-- END SUB COMMENTS -->
			</li>
			<li>
				<div class="row">
					<div class="col-md-1">
						<img class="avatar" src="assets/man.png">
					</div>
					<div class="col-md-11 comment">
						<b><a href="">An Nguyen</a></b>&nbsp; Bên cạnh đó, BMW còn cắt
						giảm trọng lượng X4 2019 lên đến 50kg so với thế hệ trước. Cuối
						cùng, tổng thể xe thêm đẹp mắt hơn với lựa chọn mâm đa chấu có
						kích thước từ 19 đến 21 inch. Ở những phiên bản thể thao M
						Performance, xe sẽ được trang bị kẹp phanh màu xanh M-Sport, hệ
						thống treo thể thao M-Suspension, ống xả M Sport...
					</div>
				</div> <span class="glyphicon glyphicon-share-alt show-reply"></span>
				<div class="reply-input">
					<textarea></textarea>
					<span class="reply-btn">Reply</span>
				</div>
				<ul class="sub-comment">
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Vi Huynh</a></b>&nbsp; Làm một chiếc đi Cao Minh
								Nhut
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Duong Ngoc Thai</a></b>&nbsp; Bên cạnh đó, BMW còn
								cắt giảm trọng lượng X4 2019 lên đến 50kg so với thế hệ trước.
								Cuối cùng, tổng thể xe thêm đẹp mắt hơn với lựa chọn mâm đa chấu
								có kích thước từ 19 đến 21 inch. Ở những phiên bản thể thao M
								Performance, xe sẽ được trang bị kẹp phanh màu xanh M-Sport, hệ
								thống treo thể thao M-Suspension, ống xả M Sport...
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<div class="row">
					<div class="col-md-1">
						<img class="avatar" src="assets/man.png">
					</div>
					<div class="col-md-11 comment">
						<b><a href="">Long Nguyen</a></b>&nbsp; Về động cơ, BMW cung cấp
						cho X4 2019 03 tuỳ chọn động cơ xăng và 04 tùy chọn động cơ dầu
						với công suất giao động từ 185 - 360 mã lực. Ở phiên bản động cơ
						xăng 04 xy-lanh dung tích 2.0L tăng áp - xDrive30i xe sẽ có công
						suất 248 mã lực. Trong đó, hai phiên bản mạnh mẽ nhất bao gồm:
						Phiên bản máy xăng M40i được lắp động cơ 6 xy-lanh thẳng hàng (I6)
						3.0L tăng áp kép cho công suất 355 mã lực và mô-ment xoắn 500Nm; ở
						phiên bản động cơ dầu - M40d lắp động cơ 3.0L tăng áp cho công
						suất 326 mã lực và mô-ment xoắn 680Nm. Sức mạnh được truyền xuống
						bốn bánh (hệ dẫn động X-Drive) thông qua hộp số tự động 8 cấp - 8
						Steptronic.
					</div>
				</div> <span class="glyphicon glyphicon-share-alt show-reply"></span>
				<div class="reply-input">
					<textarea></textarea>
					<span class="reply-btn">Reply</span>
				</div>
				<ul class="sub-comment">
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Vi Huynh</a></b>&nbsp; Làm một chiếc đi Cao Minh
								Nhut
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-1">
								<img class="avatar" src="assets/man.png">
							</div>
							<div class="col-md-11 comment">
								<b><a href="">Duong Ngoc Thai</a></b>&nbsp; Bên cạnh đó, BMW còn
								cắt giảm trọng lượng X4 2019 lên đến 50kg so với thế hệ trước.
								Cuối cùng, tổng thể xe thêm đẹp mắt hơn với lựa chọn mâm đa chấu
								có kích thước từ 19 đến 21 inch. Ở những phiên bản thể thao M
								Performance, xe sẽ được trang bị kẹp phanh màu xanh M-Sport, hệ
								thống treo thể thao M-Suspension, ống xả M Sport...
							</div>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>