<div class="topic">
	<ul>
		<li>
			<h4>
				{{articleData.topicName}}
			</h4>
			<ul>
				<li ng-repeat="article in articleData.articles" class="row sub-topic">
					<div class="col-md-1 icon"></div>
					<div class="col-md-5">
						<div class="title">
							<b><a href="#/sub-topic/{{article.id}}">{{article.name}}</a></b>
						</div>
						<div>
							{{article.description}}
						</div>
					</div>
					<div class="col-md-2">3 Posts</div>
					<div class="col-md-4">
						<div class="title">
							Last post by <b>{{articleData.authorName}}</b>
						</div>
						<div>{{article.createDate}}</div>
					</div>
				</li>

			</ul>
			<div class="wrapper">
				<button class="button">Show More</button>
			</div>
		</li>
	</ul>
</div>