<div class="topic">
	<ul>
		<li>
			<h4>
				{{articleData.topicName}}
			</h4>
			<ul>
				<li ng-repeat="article in articleData.articles" class="row sub-topic">
					<div class="col-md-1 icon"></div>
					<div class="col-md-5">
						<div class="title">
							<b><a>{{article.name}}</a></b>
						</div>
						<div>
							<a>{{article.description}}</a>
						</div>
					</div>
					<div class="col-md-2">3 Posts</div>
					<div class="col-md-4">
						<div class="title">
							Last post by <b>Nhut Nguyen</b>
						</div>
						<div>Fri, Jun 22, 2017 9:36 am</div>
					</div>
				</li>

			</ul>
		</li>
	</ul>
</div>