body{
	margin: 0;
	padding: 0;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
a{
	text-decoration: none !important;
	color: #999999;
}
a:hover{
	color: blue;
}
/*NAVIGATION*/
.navigation{
	background-color: #FFFFFF;
    height: 70px;
    padding-left: 100px;
    line-height: 70px;
    color: #999999;
}
.navigation .col-md-8{
	text-align: right;
    padding-right: 100px;
}
/*HEADER*/
.header{
	background-image: url('../assets/sky.jpg');
	height: 320px;
    background-position: center right;
}
/*SEARCH*/
.search{
	background-color: #03a9f4;
	height: 70px;
	padding-left: 100px;
}
.search ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.search li {
    float: left;
}
.search li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    height: 70px;
}
.search li a:hover:not(.active) {
    background-color: white;
    color: #999999;
}
.search .active {
    background-color: white;
    color: #999999;
}
.search .input-group{
	width: 300px;
}
.search .search-control{
	float: right !important;
    padding-right: 100px;
    padding-top: 18px;
}
/*CONTENT*/
/*HOME*/
.content{
	background-color: #f0f0f0;
	padding-left: 100px;
	padding-top: 50px;
}
.content .home{
	background-color: white;
	height: 50px;
	padding-left: 10px;
    line-height: 50px;
}
.content .home .full-screen{
	float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}
/*END HOME*/
/*FEED*/
.content ul{
	list-style-type: none;
	padding: 0px;
}
.content ul li{
	margin-bottom: 40px;
}
.content .feeds{
	margin-top: 50px;
}
.content .feeds .feed{
	background-color: white;
	padding: 10px 10px 10px 10px;
}
.content .feeds .feed .comments .avatar,
.content .feeds .feed .user-info img{
	vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.content .feeds .feed .user-info a,
.content .feeds .feed .comments a{
	color: #03a9f4;
}
.content .feeds .feed .user-info .edit{
	float: right;
}
.content .feeds .feed img{
	width: 99%;
}
.content .feeds .feed .comments{
	margin-top: 20px;
}
.content .feeds .feed .comments textarea{
	width: 95%;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
}
.content .feeds .feed .comments .avatar-post{
	vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
}
.content .feeds .feed .comments button{
	float: right;
	margin-right: 15px;
}
.content .feeds .feed .comments .comment{
	background-color: #DDDDDD;
    padding: 10px;
    border-radius: 10px;
}
.content .feeds .feed .comments .col-md-1{
	width: 6%;
}
.content .feeds .feed .comments .reply-input{
	width: 96%;
    margin: 20px 0px 20px 25px;
}
.content .feeds .feed .comments .reply-btn{
    margin-left: 30px;
}
.content .feeds .feed .comments .show-reply{
	margin-left: 55px;
    color: #03a9f4;
    cursor: pointer;
}
.content .feeds .feed .comments .sub-comment{
	margin-left: 50px;
}
.content .btn-new-topic {
	height: 50px;
    width: 100%;
}
.content .panel-right-title{
	background-color: #03a9f4;
    height: 50px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
}
.content .panel-right-content{
	background-color: white;
    padding: 20px 0px 20px 50px;
}
.content .panel-right-content ul li{
	margin-bottom: 20px;
}
.content .panel-right-content .red,
.content .panel-right-content .yellow,
.content .panel-right-content .green{
    height: 10px;
    width: 10px !important;
    padding: 0px;
    border-radius: 50%;
    margin-top: 5px;
}
.content .panel-right-content .red{
	background-color: red;
}
.content .panel-right-content .yellow{
	background-color: yellow;
}
.content .panel-right-content .green{
	background-color: green;
}
.panel-right-content ol li{
	color: #999999;
	margin-bottom: 10px;
}
.panel-right-content ul li i{
	float: right;
    margin-right: 20px;
}
.panel-right-content ul li{
	color: #999999;
}
/* FORUM */
.forum{
	margin-top: 50px;
}
.forum h4{
	background-color: #03A9F4;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: white;
}
.forum h4 a{
	color: white;
}
.forum .sub-topic{
	background-color: white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}
.forum .sub-topic .icon{
	background-image: url("../assets/chat-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}
.forum .sub-topic .title{
	height: 20px;
	margin-top: -10px;
}
/*FOOTER*/
.footer{
	background-color: #03a9f4;
	height: 150px;
	color: white;
}
.footer h3{
	text-decoration: underline;
}
.footer a{
	color: white;
}
.footer a:hover{
	color: #0095D8;
}
.footer .author{
	background-color: #0095D8;
	text-align: center;
    height: 50px;
    line-height: 50px;
}