body{
	margin: 0;
	padding: 0;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
a{
	text-decoration: none !important;
	color: #999999;
}
a:hover{
	color: blue;
}
input:focus{
    outline: none;
}
/*NAVIGATION*/
.navigation{
	background-color: #FFFFFF;
    height: 70px;
    padding-left: 100px;
    line-height: 70px;
    color: #999999;
}
.navigation .col-md-8{
	text-align: right;
    padding-right: 100px;
}
.navigation .col-md-8 .user-profile{
	float: right
}
/*HEADER*/
.header{
	background-image: url('../assets/sky.jpg');
	height: 320px;
    background-position: center right;
}
/*SEARCH*/
.search{
	background-color: #03a9f4;
	height: 70px;
	padding-left: 100px;
}
.search ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.search li {
    float: left;
}
.search li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    height: 70px;
}
.search li a:hover:not(.active) {
    background-color: white;
    color: #999999;
}
.search .active {
    background-color: white;
    color: #999999;
}
.search .input-group{
	width: 300px;
}
.search .search-control{
	float: right !important;
    padding-right: 100px;
    padding-top: 18px;
}
/*CONTENT*/
/*HOME*/
.content{
	background-color: #f0f0f0;
	padding-left: 100px;
	padding-top: 50px;
}
.content .home{
	background-color: white;
	height: 50px;
	padding-left: 10px;
    line-height: 50px;
    margin-bottom: 50px;
}
.content .home .full-screen{
	float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}
/*END HOME*/
/*FEED*/
.content ul{
	list-style-type: none;
	padding: 0px;
}
.content .feeds{
	margin-top: 50px;
}
.content .feeds .feed{
	background-color: white;
	padding: 10px 10px 10px 10px;
}
.comments .avatar,
.content .feeds .feed .user-info img{
	vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.content .feeds .feed .user-info a,
.comments a{
	color: #03a9f4;
}
.content .feeds .feed .user-info .edit{
	float: right;
}
.content .feeds .feed img{
	width: 99%;
}
.comments{
	margin-top: 20px;
}
.comments textarea{
	width: 95%;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
}
.comments .avatar-post{
	vertical-align: middle;
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
    position: absolute;
}
.comments button{
	float: right;
	margin-right: 15px;
}
.comments .comment{
	background-color: #DDDDDD;
    padding: 10px;
    border-radius: 10px;
}
.comments .col-md-1{
	width: 6%;
}
.comments .reply-input{
	width: 96%;
    margin: 20px 0px 20px 25px;
}
.comments .reply-btn{
    margin-left: 30px;
}
.comments .show-reply{
	margin-left: 55px;
    color: #03a9f4;
    cursor: pointer;
}
.comments .sub-comment{
	margin-left: 50px;
}
.sub-comment li{
	margin-bottom: 20px;
}
.content .btn-new-topic {
	height: 50px;
    width: 100%;
    padding-top: 15px;
}
.content .panel-right-title{
	background-color: #03a9f4;
    height: 50px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
}
.content .panel-right-content{
	background-color: white;
    padding: 20px 0px 20px 50px;
    margin-bottom: 20px;
}
.content .panel-right-content ul li{
	margin-bottom: 20px;
}
.content .panel-right-content .red,
.content .panel-right-content .yellow,
.content .panel-right-content .green{
    height: 10px;
    width: 10px !important;
    padding: 0px;
    border-radius: 50%;
    margin-top: 5px;
}
.content .panel-right-content .red{
	background-color: red;
}
.content .panel-right-content .yellow{
	background-color: yellow;
}
.content .panel-right-content .green{
	background-color: green;
}
.panel-right-content ol li{
	color: #999999;
	margin-bottom: 10px;
}
.panel-right-content ul li i{
	float: right;
    margin-right: 20px;
}
.panel-right-content ul li{
	color: #999999;
}
/* FORUM */
.forum h4,
.topic h4,
.sub-topic h4{
	background-color: #03A9F4;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: white;
}
.forum h4 a,
.topic h4 a{
	color: white;
}
.forum .sub-topic,
.topic .sub-topic{
	background-color: white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}
.forum .sub-topic .icon,
.topic .sub-topic .icon{
	background-image: url("../assets/chat-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}
.forum .sub-topic .title,
.topic .sub-topic .title{
	height: 20px;
	margin-top: -10px;
}
/*FOOTER*/
.footer{
	background-color: #03a9f4;
	height: 150px;
	color: white;
}
.footer h3{
	text-decoration: underline;
}
.footer a{
	color: white;
}
.footer a:hover{
	color: #0095D8;
}
.footer .author{
	background-color: #0095D8;
	text-align: center;
    height: 50px;
    line-height: 50px;
}
/* LOGIN - REGISTER*/
#modal-login .modal-content,
#modal-register .modal-content{
	border-radius: 0px;
	width: 80%;
}
#modal-login .modal-header,
#modal-register .modal-header{
	color: white;
	background-color: black;
}
#modal-login .modal-body input,
#modal-register .modal-body input{
	width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 25px;
}
#modal-login .modal-footer,
#modal-register .modal-footer{
	text-align: left;	
}
#modal-login .modal-footer .btn-info,
#modal-register .modal-footer .btn-info{
    width: 100px;
    height: 40px;
    border-radius: 0px;
}
#modal-login .login-error{
	padding: 5px;
}
/* SUB TOPIC */
.sub-topic .content{
	background-color: white;
	padding: 10px;
}
/* ASSIGNMENT */
.assignment{
	margin-top: 50px;
}
.assignment h4{
	border-bottom: 1px solid;
    color: #BBBBBB;
}
.assignment p{
	border-bottom: 1px solid #bbbbbb;
    padding-bottom: 50px;
}
/* SETTING */
.setting img{
	height: 200px;
    width: 90%;
}
.setting .key{
	width: 20%
}
.setting .value{
	width: 80%;
}
.setting table tr{
	height: 50px;
}
/* ADD NEW FEED */
.add-new-feed textarea{
	width: 907px;
    height: 58px;
    border-radius: 3px;
    padding-left: 10px;
}
.add-new-feed button{
	margin-top: 20px;
    float: right;
}
/* LEFT CONTENT */
.left-content {
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}